<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Assignment2</title>
<style>
    
    .image-container{
        
        border: 1px solid black;
        
        margin:10px;
        width:25%;
        height: 500px;
       display: inline-block; 
        
    }
    
    .image-container img{
		max-width:100%;
		height: inherit;
	}    
    
    .box{
		border: 1px solid black;
		width: 70%;
		padding: 20px;
		height: 600px;
	}
    
</style>
</head>
<body>

<div class = "box">
<div class="image-container" style = >
<img class ="img" src="/images/face1.png" > 
<h1>Person 1</h1>
</div>

<div class="image-container" style = >
<img class ="img" src="/images/face1.png" > 
<h1>Person 1</h1>
</div>

<div class="image-container" style = >
<img class ="img" src="/images/tony.jpg" onclick="redirect('/carlos')"> 
<h1>Carlos</h1>
</div>


</div>

<script>
    function redirect(path) {
        window.location.href = path;
    }
</script>

</body>
</html>